@{
  ViewData["Title"] = "Kategori Detayları";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
  @model Category

}

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cogs"></i> <span>@ViewBag.category</span> Kategori Detay
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="#portlet-config" data-toggle="modal" class="config">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content">
          <thead class="flip-content">
            <tr>
              <th width="30%">
                Key
              </th>
              <th>
                Value
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                @Html.DisplayNameFor(model => model.CategoryID)
              </td>
              <td>
                @Html.DisplayFor(model => model.CategoryID)
              </td>
            </tr>

            <tr>
              <td>
                @Html.DisplayNameFor(model => model.CategoryName)
              </td>
              <td>
                @Html.DisplayFor(model => model.CategoryName)
              </td>
            </tr>

            <tr>
              <td>
                @Html.DisplayNameFor(model => model.ParentID)
              </td>
              <td>
                @Html.DisplayFor(model => model.ParentID)
              </td>
            </tr>

            <tr>
              <td>
                @Html.DisplayNameFor(model => model.IsActive)
              </td>
              <td>
                @Html.DisplayFor(model => model.IsActive)
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
  </div>
</div>