@model MainPageModel
@{

  Layout = "~/views/shared/_DefaultLayout.cshtml";

}

<!-- slider area start -->
<div class="home-1-slider-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 ">
        <div class="h1-slider">
          <!-- HOME SLIDER -->
          <div class="slider-wrap">
            <div class="fullwidthbanner-container">
              <div class="home-1">
                <ul>
                  @foreach (var item in Model.SliderProducts)
                  {
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000">

                      <img src="~/resimler/@item.PhotoPath" alt="slide">

                      <div class="tp-caption large_black sfr carousel-caption-inner" data-x="100" data-y="20" data-speed="1100" data-start="1100" data-easing="easeInOutBack" style="color:#fff; font-size:18px; letter-spacing: 1px; text-transform: uppercase;">
                        <span style="background-color:rgba(255,0,0,0.5);padding:5px;border-radius:5px;">
                          @string.Format("{0:#,##0.00}", item.UnitPrice) &#8378;
                        </span>
                      </div>

                      <div class="tp-caption large_black sfr carousel-caption-inner" data-x="65" data-y="71" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                           style="  font-size: 30px; font-style:italic; font-weight: normal; color: #fff;font-weight: bold;">
                        <span style="background-color:rgba(255,0,0,0.5);padding:10px;border-radius:5px;">
                          @item.ProductName
                        </span>

                      </div>

                      <div class="tp-caption lfb carousel-caption-inner" data-x="130" data-y="160" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                           style="">
                        <a href="/Home/CartProcess/@item.ProductID" class="s-btn" style="background-color:rgba(255,0,0,0.5) color: #fff; border: 1px solid #fff; font-weight:700; font-size:20px; display: inline-block; padding:10px 18px; text-transform: uppercase;">Sepete Ekle</a>
                      </div>
                    </li>
                  }
                </ul>
              </div>
            </div>
          </div>
          <!-- END HOME SLIDER -->
        </div>
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3 ">
        <div class="single-special-products" style="height:360px;>
          <h3 class="sp-module-title"><span>Günün Ürünü</span></h3>
          <div class="all-sp-slides">
            <!-- SP-SINGLE Product -->
            <div class="sp-single">

              <div class="sp-img-area">
                <img class="first-img" src="~/resimler/@Model.ProductOfDay?.PhotoPath" alt="" style="height:165px " />
                <img class="hover-img" src="~/resimler/@Model.ProductOfDay?.PhotoPath" alt="" style="height:165px " />
                <div class="quick-view-detail">
                  <a href="/Home/Details/@Model.ProductOfDay?.ProductID">Detaylar</a>
                </div>
                <div class="sp-label-pro sp-label-pro-hot" style="background-color:aqua; color:black;">TEK!</div>
              </div>

              <div class="sp-info-area">
                <h2 class="product-name">
                  <a title="@Model.ProductOfDay?.ProductName detay için tıklayın" href="/Home/Details/@Model.ProductOfDay?.ProductID">@Model.ProductOfDay?.ProductName</a>
                </h2>
                <p class="all-prices">
                  <span class="sp-price main-price">@string.Format("{0:#,##0.00}", Model.ProductOfDay?.UnitPrice) &#8378;</span>
                </p>
                <div class="sp-button">

                  <div class="s-button">
                    <a href="/Home/CartProcess/@Model.ProductOfDay?.ProductID" data-toggle="tooltip" data-placement="top" title="Sepete Ekle" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
                  </div>

            @*       <div class="s-button">
                    <a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
                  </div> *@

                  <div class="s-button last-b ">
                    <a href="/Home/Details/@Model.ProductOfDay?.ProductID" data-toggle="tooltip" data-placement="top" title="Detaylar" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider area end -->

<!-- new product area start -->
<div class="new-products-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 ">
        <div class="n-full-products">
          <div class="all-p-title">
            <h3 style="background-color:red; color:white; padding-left:15px;">Yeni Ürünler</h3>
          </div>
          <div class="row">
            <div class="all-new-p" style="padding-right:15px;">
              <div class="all-new-single singal-p hom-1">

                @foreach (var item in Model.NewProducts)
                {
                  <!-- SP-SINGLE Product -->
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="sp-single">
                      <div class="sp-img-area">
                        <img class="first-img" src="~/resimler/@item.PhotoPath" alt="@item.Keywords" style="height:200px;" />
                        <img class="hover-img" src="~/resimler/@item.PhotoPath" alt="@item.Keywords" />
                        <div class="quick-view-detail">
                          <a href="/Home/Details/@item.ProductID">Detaylar</a>
                        </div>
                        <div class="sp-label-pro sp-label-pro-hot">Yeni!</div>
                      </div>
                      <div class="sp-info-area">
                        <h2 class="product-name"><a title="@item.ProductName incelemek için tıklayınız" href="/Home/Details/@item.ProductID">@item.ProductName</a></h2>
                        <div class="product-rating">
                          <div class="ratingbox" title="" Rating="3/5">
                            <div style="width:50px" class="stars-orange"></div>
                          </div>
                        </div>
                        <p class="all-prices">
                          <span class="sp-price main-price">@item.UnitPrice &#8378;</span>
                        </p>
                        <div class="sp-button">
                          <div class="s-button">
                            <a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip" data-placement="top" title="Sepete Ekle" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
                          </div>
                          @* <div class="s-button">
                            <a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
                          </div> *@
                          <div class="s-button last-b ">
                            <a href="/Home/Details/@item.ProductID" data-toggle="tooltip" data-placement="top" title="Detaylar" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- new product area end -->

<!-- Special area start -->
<div class="new-products-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 ">
        <div class="n-full-products">
          <div class="all-p-title">
            <h3 style="background-color:red; color:white; padding-left:15px;">Özel Ürünler</h3>
          </div>
          <div class="row">
            <div class="all-new-p" style="padding-right:15px;">
              <div class="all-new-single singal-p hom-1">

                @foreach (var item in Model.SpecialProducts)
                {
                  <!-- SP-SINGLE Product -->
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="sp-single">
                      <div class="sp-img-area">
                        <img class="first-img" src="~/resimler/@item.PhotoPath" alt="@item.Keywords" style="height:200px;" />
                        <img class="hover-img" src="~/resimler/@item.PhotoPath" alt="@item.Keywords" />
                        <div class="quick-view-detail">
                          <a href="/Home/Details/@item.ProductID">Detaylar</a>
                        </div>
                        <div class="sp-label-pro sp-label-pro-hot">Yeni!</div>
                      </div>
                      <div class="sp-info-area">
                        <h2 class="product-name"><a title="@item.ProductName incelemek için tıklayınız" href="/Home/Details/@item.ProductID">@item.ProductName</a></h2>
                        <div class="product-rating">
                          <div class="ratingbox" title="" Rating="3/5">
                            <div style="width:50px" class="stars-orange"></div>
                          </div>
                        </div>
                        <p class="all-prices">
                          <span class="sp-price main-price">@item.UnitPrice &#8378;</span>
                        </p>
                        <div class="sp-button">
                          <div class="s-button">
                            <a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip" data-placement="top" title="Sepete Ekle" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
                          </div>
                          @* <div class="s-button">
                            <a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
                          </div> *@
                          <div class="s-button last-b ">
                            <a href="/Home/Details/@item.ProductID" data-toggle="tooltip" data-placement="top" title="Detaylar" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Special area end -->